<h1>Button 按钮</h1>

<h3>Elevated Buttons</h3>

<cat-button style="margin-right: 8px" type="elevated"> Elevated </cat-button>
<cat-button [disabled]="true" style="margin-right: 8px" type="elevated">
  Disabled
</cat-button>

<h3>Filled Buttons</h3>

<cat-button style="margin-right: 8px" type="filled"> Filled </cat-button>
<cat-button [disabled]="true" style="margin-right: 8px" type="filled">
  Disabled
</cat-button>

<h3>Tonal Buttons</h3>

<cat-button style="margin-right: 8px" type="tonal"> Tonal </cat-button>
<cat-button [disabled]="true" style="margin-right: 8px" type="tonal">
  Disabled
</cat-button>

<h3>Outlined Buttons</h3>

<cat-button style="margin-right: 8px" type="outlined"> Outlined </cat-button>
<cat-button [disabled]="true" style="margin-right: 8px" type="outlined">
  Disabled
</cat-button>

<h3>Text Buttons</h3>

<cat-button style="margin-right: 8px" type="text"> Text </cat-button>
<cat-button [disabled]="true" style="margin-right: 8px" type="text">
  Disabled
</cat-button>
