$catui-black: #000;

$catui-blue-variant0: #000;
$catui-blue-variant10: #001d35;
$catui-blue-variant100: #fff;
$catui-blue-variant20: #035;
$catui-blue-variant30: #004a77;
$catui-blue-variant40: #00639b;
$catui-blue-variant50: #047db7;
$catui-blue-variant60: #3998d3;
$catui-blue-variant70: #5ab3f0;
$catui-blue-variant80: #7fcfff;
$catui-blue-variant90: #c2e7ff;
$catui-blue-variant95: #dff3ff;
$catui-blue-variant99: #f7fcff;

$catui-blue0: #000;
$catui-blue10: #041e49;
$catui-blue100: #fff;
$catui-blue20: #062e6f;
$catui-blue30: #0842a0;
$catui-blue40: #0b57d0;
$catui-blue50: #1b6ef3;
$catui-blue60: #4c8df6;
$catui-blue70: #7cacf8;
$catui-blue80: #a8c7fa;
$catui-blue90: #d3e3fd;
$catui-blue95: #ecf3fe;
$catui-blue99: #fafbff;

$catui-error0: #000;
$catui-error10: #410e0b;
$catui-error100: #fff;
$catui-error20: #601410;
$catui-error30: #8c1d18;
$catui-error40: #b3261e;
$catui-error50: #dc362e;
$catui-error60: #e46962;
$catui-error70: #ec928e;
$catui-error80: #f2b8b5;
$catui-error90: #f9dedc;
$catui-error95: #fceeee;
$catui-error99: #fffbf9;

$catui-green0: #000;
$catui-green10: #072711;
$catui-green100: #fff;
$catui-green20: #0a3818;
$catui-green30: #0f5223;
$catui-green40: #146c2e;
$catui-green50: #198639;
$catui-green60: #1ea446;
$catui-green70: #37be5f;
$catui-green80: #6dd58c;
$catui-green90: #c4eed0;
$catui-green95: #e7f8ed;
$catui-green99: #f2ffee;

$catui-grey-variant0: #000;
$catui-grey-variant10: #191d1c;
$catui-grey-variant100: #fff;
$catui-grey-variant20: #2d312f;
$catui-grey-variant30: #444746;
$catui-grey-variant40: #5c5f5e;
$catui-grey-variant50: #747775;
$catui-grey-variant60: #8e918f;
$catui-grey-variant70: #a9acaa;
$catui-grey-variant80: #c4c7c5;
$catui-grey-variant90: #e1e3e1;
$catui-grey-variant95: #eff2ef;
$catui-grey-variant99: #fafdfb;

$catui-grey0: #000;
$catui-grey10: #1f1f1f;
$catui-grey100: #fff;
$catui-grey20: #303030;
$catui-grey30: #474747;
$catui-grey40: #5e5e5e;
$catui-grey50: #757575;
$catui-grey60: #8f8f8f;
$catui-grey70: #ababab;
$catui-grey80: #c7c7c7;
$catui-grey90: #e3e3e3;
$catui-grey95: #f2f2f2;
$catui-grey99: #fdfcfb;

$catui-neutral-variant0: #000;
$catui-neutral-variant10: #1d1a22;
$catui-neutral-variant100: #fff;
$catui-neutral-variant20: #322f37;
$catui-neutral-variant30: #49454f;
$catui-neutral-variant40: #605d66;
$catui-neutral-variant50: #79747e;
$catui-neutral-variant60: #938f99;
$catui-neutral-variant70: #aea9b4;
$catui-neutral-variant80: #cac4d0;
$catui-neutral-variant90: #e7e0ec;
$catui-neutral-variant95: #f5eefa;
$catui-neutral-variant99: #fffbfe;

$catui-neutral0: #000;
$catui-neutral10: #1c1b1f;
$catui-neutral100: #fff;
$catui-neutral20: #313033;
$catui-neutral30: #484649;
$catui-neutral40: #605d62;
$catui-neutral50: #787579;
$catui-neutral60: #939094;
$catui-neutral70: #aeaaae;
$catui-neutral80: #c9c5ca;
$catui-neutral90: #e6e1e5;
$catui-neutral95: #f4eff4;
$catui-neutral99: #fffbfe;

$catui-primary0: #000;
$catui-primary10: #21005d;
$catui-primary100: #fff;
$catui-primary20: #381e72;
$catui-primary30: #4f378b;
$catui-primary40: #6750a4;
$catui-primary50: #7f67be;
$catui-primary60: #9a82db;
$catui-primary70: #b69df8;
$catui-primary80: #d0bcff;
$catui-primary90: #eaddff;
$catui-primary95: #f6edff;
$catui-primary99: #fffbfe;

$catui-red0: #000;
$catui-red10: #410e0b;
$catui-red100: #fff;
$catui-red20: #601410;
$catui-red30: #8c1d18;
$catui-red40: #b3261e;
$catui-red50: #dc362e;
$catui-red60: #e46962;
$catui-red70: #ec928e;
$catui-red80: #f2b8b5;
$catui-red90: #f9dedc;
$catui-red95: #fceeee;
$catui-red99: #fffbf9;

$catui-secondary0: #000;
$catui-secondary10: #1d192b;
$catui-secondary100: #fff;
$catui-secondary20: #332d41;
$catui-secondary30: #4a4458;
$catui-secondary40: #625b71;
$catui-secondary50: #7a7289;
$catui-secondary60: #958da5;
$catui-secondary70: #b0a7c0;
$catui-secondary80: #ccc2dc;
$catui-secondary90: #e8def8;
$catui-secondary95: #f6edff;
$catui-secondary99: #fffbfe;

$catui-tertiary0: #000;
$catui-tertiary10: #31111d;
$catui-tertiary100: #fff;
$catui-tertiary20: #492532;
$catui-tertiary30: #633b48;
$catui-tertiary40: #7d5260;
$catui-tertiary50: #986977;
$catui-tertiary60: #b58392;
$catui-tertiary70: #d29dac;
$catui-tertiary80: #efb8c8;
$catui-tertiary90: #ffd8e4;
$catui-tertiary95: #ffecf1;
$catui-tertiary99: #fffbfa;

$catui-white: #fff;

$catui-yellow0: #000;
$catui-yellow10: #421f00;
$catui-yellow100: #fff;
$catui-yellow20: #562d00;
$catui-yellow30: #754200;
$catui-yellow40: #945700;
$catui-yellow50: #b26c00;
$catui-yellow60: #d68400;
$catui-yellow70: #f09d00;
$catui-yellow80: #ffbb29;
$catui-yellow90: #ffdf99;
$catui-yellow95: #fff0d1;
$catui-yellow99: #fffbf0;
