@import './basic';

$catui-background: $catui-neutral99;
$catui-error: $catui-error40;
$catui-error-container: $catui-error90;
$catui-inverse-on-surface: $catui-neutral95;
$catui-inverse-primary: $catui-primary80;
$catui-inverse-surface: $catui-neutral20;
$catui-on-background: $catui-neutral10;
$catui-on-error: $catui-error100;
$catui-on-error-container: $catui-error10;
$catui-on-primary: $catui-primary100;
$catui-on-primary-container: $catui-primary10;
$catui-on-secondary: $catui-secondary100;
$catui-on-secondary-container: $catui-secondary10;
$catui-on-surface: $catui-neutral10;
$catui-on-surface-variant: $catui-neutral-variant30;
$catui-on-tertiary: $catui-tertiary100;
$catui-on-tertiary-container: $catui-tertiary10;
$catui-outline: $catui-neutral-variant50;
$catui-primary: $catui-primary40;
$catui-primary-container: $catui-primary90;
$catui-secondary: $catui-secondary40;
$catui-secondary-container: $catui-secondary90;
$catui-shadow: $catui-neutral0;
$catui-surface: $catui-neutral99;
$catui-surface-tint: $catui-primary40;
$catui-surface-tint-color: $catui-primary40;
$catui-surface-variant: $catui-neutral-variant90;
$catui-tertiary: $catui-tertiary40;
$catui-tertiary-container: $catui-tertiary90;
